<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 Beerbong ZipInstaller

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beerbong.zipinst"
    android:versionCode="244"
    android:versionName="2.4.4">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <application android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:hardwareAccelerated="true">
        
        <activity
            android:name=".Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.Recovery"
            android:label="@string/recovery_title">
        </activity>
        
        <activity
            android:name=".activities.Sdcard"
            android:label="@string/sdcard_title">
        </activity>
        
        <activity
            android:name=".activities.SaveList"
            android:label="@string/savelist_title">
        </activity>
        
        <activity
            android:name=".activities.LoadList"
            android:label="@string/loadlist_title">
        </activity>
        
        <activity
            android:name=".activities.About"
            android:label="@string/about_title">
        </activity>
        
        <activity
            android:name=".activities.License"
            android:label="@string/license_title">
        </activity>
        
        <activity
            android:name=".activities.Changelog"
            android:label="@string/changelog_title">
        </activity>

    </application>

</manifest>
